<!DOCTYPE html>
<html>
    <body>
        <h1>Profile</h1>
        <h1><a href="/profile/edit_profile">Edit Profile</a></h1>
        <h3><%= user.username %></h3>
        <h3><%= user.email %></h3>
        <h3><%= user.mobile %></h3>
    </body>
</html>