<!DOCTYPE html>
<html>
    <body>
        <form>
            <input type="text" name="bookName" placeholder="Enter book name"><hr>
            <textarea name="bookDescription" placeholder="Enter description about this book"> </textarea><hr>
            <input type="submit" value="Add Book">
        </form>
        <h3><a href="/homepage">Back to homepage</a></h3>
    </body>
</html>